<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.testproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainPage"
            android:exported="true"
            android:label="Rainbow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ColorDetectionActivity"
            android:exported="false"
            android:label="Main"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Feedback"
            android:exported="false"
            android:label="Feedback"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".EmptyActivity"
            android:exported="false"
            android:label="EmptyActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Userguide"
            android:exported="false"
            android:label="Userguide"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MusicActivity"
            android:exported="false"
            android:label="MusicActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>